.main{
    background-color: black;
    height: 300px;
    width: 500px;
    
}
.i1,.i2,.i3{
    height: 100px;
    width: 500px;
}
.i1{
    background-color: orange;
}
.i2{
    background-color: white;
    margin: 199px 10px 10px 0px;
}
.i3{
    background-color: green;
    margin: -10px 50px 50px 0px;
}
.ashok{
    height: 90px;
    width: 90px;
    border-radius: 100px;
    border: 4px solid blue;
    margin: -199px 10px 10px 200px;
}
.a1{
    height: 90px;
    width: 4px;
    background-color: blue;
    margin: 0px 40px 40px 43px;

}
.a2{
    margin: -100px 40px 40px 43px;
}
.adj{
    margin: 400px 
}
.a2,.a3,.a4,.a5,.a6,.a7,.a8,.a9,.a10,.a11,.a12{
    height: 90px;
    width: 4px;
    background-color: blue;
    margin-top: -100px;
    margin-left: 43px;
}
.a2{
    transform: rotate(15deg);
    margin-top: -130px;

}
.a3{
    transform: rotate(30deg);
    margin-top: -130px;
}
.a4{
    transform: rotate(45deg);
    margin-top: -90px;

}
.a5{
    transform: rotate(60deg);
    margin-top: -89px;
}
.a6{
    transform: rotate(75deg);
    margin-top: -90px;
}
.a7{
    transform: rotate(90deg);
    margin-top: -89px;
}
.a8{
    transform: rotate(105deg);
    margin-top: -90px;
}
.a9{
    transform: rotate(120deg);
    margin-top: -90px;
}
.a10{
    transform: rotate(135deg);
    margin-top: -90px;
}
.a11{
    transform: rotate(150deg);
    margin-top: -90px;
}
.a12{
    transform: rotate(165deg);
    margin-top: -90px;
}
